.ui.checkbox(v-el="checkbox")
    input(
            type="{{* type}}",
            name="{{* name}}",
            v-attr="value: value"
        )
    content(select="label")
        label(
                v-if="type === 'checkbox'"
            ) {{* label}}
        label(
                v-if="type === 'radio'"
            ) {{* label ? label : value}}