.ui.checkbox(v-class="disabled: disabled")
    input(
            type="{{* type}}",
            name="{{* name}}",
            v-model="checked",
            v-attr="value: value"
        )
    label(
            v-show="type === 'checkbox'",
            v-on="click: toggle"
        ) {{* label}}
    label(
            v-show="type === 'radio'",
            v-on="click: pick"
        ) {{* label ? label : value}}